# Fitrage Collaboratif

## Importation des librairies et des datasets

In [ ]:
import numpy as np
import pandas as pd
from scipy.sparse.linalg import svds # SVD
import tensorflow as tf # NMF
import seaborn as sns

In [ ]:
# Dataset des paris réalisés
paris_df = pd.read_csv("paris.csv",sep=",")
paris_df.head()

   userId  matchId  pari  timestamp
0       1      349  13.0  964982563
1       1      423  18.0  964982363
2       1      457   2.0  964981909
3       1      527  16.0  964984002
4       1      954  11.0  964983219

In [ ]:
paris_df.describe()

             userId        matchId          pari     timestamp
count  16697.000000   16697.000000  16697.000000  1.669700e+04
mean     332.822004   19456.480146      9.830149  1.192111e+09
std      183.047299   36117.474168      5.399528  2.131006e+08
min        1.000000       4.000000      1.000000  8.281246e+08
25%      182.000000    1246.000000      5.000000  1.002403e+09
50%      339.000000    3247.000000     10.000000  1.171832e+09
75%      477.000000    8014.000000     15.000000  1.415714e+09
max      610.000000  193585.000000     19.000000  1.537799e+09

In [ ]:
# Dataset des matchs effectués
matchs_df = pd.read_csv("matchs.csv",sep=",")
matchs_df

      matchId       sport  team_1  team_2
0           4    Football     5.0     8.0
1           9  Basketball     3.0    18.0
2          11    Football     8.0     1.0
3          14       Rubgy    15.0    12.0
4          26       Rubgy    18.0     3.0
...       ...         ...     ...     ...
2521   190213       Rubgy    15.0    13.0
2522   190215       Rubgy    11.0    12.0
2523   190221    Baseball    18.0     6.0
2524   193579    Baseball    12.0    17.0
2525   193585       Rubgy    18.0     8.0

[2526 rows x 4 columns]

In [ ]:
matchs_df.describe()

             matchId       team_1       team_2
count    2526.000000  2526.000000  2526.000000
mean    38268.676960     9.874901     9.689232
std     50129.194702     5.571301     5.404987
min         4.000000     1.000000     1.000000
25%      3141.500000     5.000000     5.000000
50%      6806.500000    10.000000    10.000000
75%     66773.250000    15.000000    14.000000
max    193585.000000    19.000000    19.000000

## Nettoyage des données

In [ ]:
# définition d'un seuil sur le nombre de paris par utilisateur
count_per_user = (paris_df.groupby(by = ['userId'])['pari']
                                .count()
                                .reset_index()
                                .rename(columns = {'pari': 'pari_count'})
                  )
count_per_user.describe()

           userId  pari_count
count  600.000000  600.000000
mean   306.248333   27.828333
std    175.949625   54.311341
min      1.000000    1.000000
25%    155.750000    5.000000
50%    307.500000   12.000000
75%    457.250000   27.000000
max    610.000000  606.000000

In [ ]:
# définition d'un seuil sur le nombre de paris par match
count_per_match = (paris_df.groupby(by = ['matchId'])['pari']
                                .count()
                                .reset_index()
                                .rename(columns = {'pari': 'pari_count'})
                  )
count_per_match.describe()

             matchId   pari_count
count    2519.000000  2519.000000
mean    38349.317189     6.628424
std     50172.411909    14.535162
min         4.000000     1.000000
25%      3139.500000     1.000000
50%      6809.000000     2.000000
75%     67347.000000     5.000000
max    193585.000000   220.000000

In [ ]:
# La colonne sport du dataframe est convertit en str
matchs_df['sport'] = matchs_df.sport.astype("str")

In [ ]:
# On ne va garder que les matchs sur lesquels plus de 2 paris ont été effectués
match_threshold = 2
count_per_match = count_per_match.query('pari_count >= @match_threshold')

In [ ]:
# construction du dataframe filtré sur les matchs avec seuil
paris = pd.merge(count_per_match, paris_df, left_on = 'matchId', right_on = 'matchId', how='left')

# proportion de paris conservées après le filtrage
len(paris) / len(paris_df) # 94%

cols = ['timestamp', 'pari_count']
paris.drop(cols, axis = 1, inplace = True)

num_matchs = paris['matchId'].nunique()
num_users = paris['userId'].nunique()
print('Nombre de matchs uniques : ', num_matchs)
print('Nombre d\'utilisateurs uniques : ', num_users)

Nombre de matchs uniques :  1458
Nombre d'utilisateurs uniques :  599

In [ ]:
# création de mapping pour les ID
# comme on a filtré les données, les id ne sont pas continus, ainsi on rend les id continus

def generate_id_mappings(ids_list):
  userId_map = {new_id : old_id for new_id, old_id in enumerate(ids_list)}
  inverse_userId_map = {old_id: new_id for new_id, old_id in enumerate(ids_list)}
  return userId_map, inverse_userId_map

userId_map, inverse_userId_map = generate_id_mappings(paris.userId.unique())
matchId_map, inverse_matchId_map = generate_id_mappings(paris.matchId.unique())

paris['mUserId'] = paris['userId'].map(inverse_userId_map)
paris['mMatchId'] = paris['matchId'].map(inverse_matchId_map)

## Recommendation content based

In [ ]:
# Calcul de similarité entre les matchs

# matchs pariés par l'utilisateur
liked_matchs = paris.query('userId == 1 and pari == 13')['matchId']
matchs_df.query('matchId in @liked_matchs')

     matchId   sport  team_1  team_2
83       349  Hockey    13.0     9.0
468     2353    Boxe     6.0    13.0
752     3729  Hockey     1.0    13.0

In [ ]:
# Importation de la métrique de similarité
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# One-hot Encoding
matchs_sports_df = matchs_df.join(matchs_df['sport'].str.get_dummies())
matchs_sports_df['mMatchId'] = matchs_sports_df['matchId'].map(inverse_matchId_map)

matchs_sports_df.set_index('mMatchId', inplace=True) # les mMatchId sont les index
matchs_sports_df = matchs_sports_df.loc[matchs_sports_df.index.dropna()]

# Application de la mesure de similarité
cos_sim = cosine_similarity(matchs_sports_df.iloc[:,3:])

In [ ]:
matchs_sports_df

          matchId       sport  team_1  ...  Tennis  Volleyball  Water Polo
mMatchId                               ...
0.0             4    Football     5.0  ...       0           0           0
1.0             9  Basketball     3.0  ...       0           0           0
2.0            11    Football     8.0  ...       0           0           0
3.0            14       Rubgy    15.0  ...       0           0           0
4.0            26       Rubgy    18.0  ...       0           0           0
...           ...         ...     ...  ...     ...         ...         ...
1453.0     178061       Rubgy    10.0  ...       0           0           0
1454.0     179817      Tennis     1.0  ...       1           0           0
1455.0     180095       Rubgy     1.0  ...       0           0           0
1456.0     180497  Volleyball    11.0  ...       0           1           0
1457.0     180985       Rubgy     9.0  ...       0           0           0

[1458 rows x 17 columns]

In [ ]:
# Extraction des 5 matchs similaires au matchId = 11
cos_sim.shape

Basketball_mMatchId = inverse_matchId_map[11]
basketball_top5 = np.argsort(cos_sim[Basketball_mMatchId])[-5:][::1]
basketball_top5_matchId = [matchId_map[x] for x in basketball_top5]

matchs_df.query('matchId in @basketball_top5_matchId')

      matchId     sport  team_1  team_2
2          11  Football     8.0     1.0
189       898  Football    12.0     1.0
1815    56941  Football    16.0     1.0
2034    86817  Football    16.0     1.0
2452   164909  Football    15.0     1.0

## Factorisation de matrice par SVD (collaborative filtering by model)

In [ ]:
# SVD
from scipy.sparse import csr_matrix
from scipy.linalg import sqrtm

R_df = paris.pivot(index='mUserId', columns='mMatchId', values='pari').fillna(0)
R_df.head()

mMatchId  0     1     2     3     4     ...  1453  1454  1455  1456  1457
mUserId                                 ...
0          8.0   0.0   1.0   0.0  18.0  ...   0.0   0.0   0.0   0.0   0.0
1          5.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          8.0   0.0   8.0  15.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          5.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          5.0   0.0   0.0   0.0  18.0  ...   0.0   0.0   0.0   0.0   0.0

[5 rows x 1458 columns]

In [ ]:
R = R_df.values
user_paris_mean = np.mean(R, axis = 1)
R_demeaned = R - user_paris_mean.reshape(-1, 1)

In [ ]:
latent_dimension = 30
U, sigma, Vt = svds(R_demeaned, k = latent_dimension) # np.linalg.svd ou tf.linalg.svd ou sklearn.decomposition.TruncatedSVD

print("Dimension de U : %d * %d" % (U.shape))
print("Dimension de sigma : %d" % (sigma.shape))
print("Dimension de Vt : %d * %d" % (Vt.shape))

Dimension de U : 599 * 30
Dimension de sigma : 30
Dimension de Vt : 30 * 1458

In [ ]:
sigma = np.diag(sigma) # transforme en matrice (50,50)
s_root = sqrtm(sigma) # racine carré

# représentations latentes des utilisateurs et des matchs en moindre dimension
Usk = np.dot(U, s_root)
skV = np.dot(s_root, Vt)

predicted_paris = np.dot(Usk, skV)
predicted_paris = predicted_paris + user_paris_mean.reshape(-1, 1)

In [ ]:
preds_df = pd.DataFrame(predicted_paris, columns = R_df.columns)
preds_df.head()

mMatchId      0         1         2     ...      1455      1456      1457
0         2.911764  2.417175  5.201711  ...  0.202084  0.293658  0.272183
1         1.210985  0.225983  1.482067  ...  0.065514  0.054325 -0.240472
2         2.297969  3.457060  5.965821  ... -0.277742 -0.110473  0.003564
3         0.801573  0.815004  2.280240  ... -0.042402 -0.015166  0.175777
4         0.189402  0.687460  0.995072  ...  0.001912  0.105148  0.135450

[5 rows x 1458 columns]

In [ ]:
def recommend_matchsSVD(predictions_df, userId, matchs_df, original_paris_df, num_recommendations=10):
    # Ordonner les prédictions pour l'utilisateur
    mUserId = inverse_userId_map[userId]
    sorted_user_predictions = preds_df.iloc[mUserId].sort_values(ascending = False)

    # Récupérer les paris déjà réalisés par l'utilisateur avec les sports des matchs
    user_data = original_paris_df[original_paris_df.mUserId == (mUserId)]
    user_full = (user_data.merge(matchs_df, how = 'left', left_on = 'matchId', right_on = 'matchId').
                      sort_values(['pari'], ascending = False)
                  )[['matchId', 'sport']]

    print('L\'utilisateur %d a déjà parié sur %d matchs.' % (userId, user_full.shape[0]))

    # Recommander les matchs les plus similaires pas encore pariés
    recommendations = (matchs_df[~matchs_df['matchId'].isin(user_full['matchId'])].
        merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', 
              left_on = 'mMatchId',
              right_on = 'mMatchId').
        rename(columns = {mUserId: 'Predictions'}).
        sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1]
                      )
    return user_full, recommendations

In [ ]:
# maintenant tous les dataframe contiennent les 2 colonnes d'identifiants mappés
matchs_df['mMatchId']=matchs_df['matchId'].map(inverse_matchId_map)

# faire des prédictions sur 10 matchs pour les 3 premiers utilisateurs
for user in list(inverse_userId_map.keys())[:3]:
  already_paris, predictions = recommend_matchsSVD(preds_df, user, matchs_df, paris, 10)
  print(already_paris.head(10).to_string())
  print(predictions.to_string())

L'utilisateur 6 a déjà parié sur 70 matchs.
    matchId      sport
58      839       Boxe
48      540  Badminton
33      361   Football
23      279      Rubgy
69     1082      Rubgy
2        26      Rubgy
25      282      Rubgy
18      240  Badminton
40      491      Rubgy
31      354      Rubgy
     matchId       sport  team_1  team_2  mMatchId
40       280  Volleyball    12.0    16.0      54.0
60       376        Boxe    16.0     2.0      80.0
1         14       Rubgy    15.0    12.0       3.0
148     1079    Handball    14.0    18.0     174.0
4         52    Football    14.0     2.0      10.0
82       529       Rubgy    16.0     5.0     108.0
32       227        Boxe    18.0     6.0      41.0
25       193       Rubgy     8.0     7.0      31.0
494     2840  Volleyball     2.0    16.0     449.0
36       246    Baseball    16.0     4.0      47.0
L'utilisateur 14 a déjà parié sur 13 matchs.
    matchId      sport
2       282      Rubgy
3       337      Rubgy
7       491      Rubgy
9       524      Rubgy
5       376       Boxe
10      527     Tennis
12      540  Badminton
11      539   Football
1       193      Rubgy
4       351   Football
     matchId       sport  team_1  team_2  mMatchId
105      454  Volleyball     6.0    17.0      95.0
46       224    Football    12.0    11.0      40.0
79       349      Hockey    13.0     9.0      70.0
4         31       Rubgy    16.0     9.0       5.0
56       261       Rubgy    12.0    19.0      49.0
83       361    Football    19.0     4.0      74.0
204     1079    Handball    14.0    18.0     174.0
150      762    Handball     5.0    18.0     134.0
108      475       Rubgy     7.0    15.0      98.0
68       300       Rubgy    17.0    19.0      60.0
L'utilisateur 84 a déjà parié sur 86 matchs.
    matchId     sport
17      299     Rubgy
61     1186     Rubgy
5        62     Rubgy
48      910  Handball
9       195  Football
70     1235  Football
52     1079  Handball
51      971     Rubgy
42      762  Handball
23      334     Rubgy
     matchId       sport  team_1  team_2  mMatchId
66       376        Boxe    16.0     2.0      80.0
49       282       Rubgy    18.0    14.0      56.0
89       529       Rubgy    16.0     5.0     108.0
289     1955       Rubgy    19.0    16.0     306.0
356     2243    Football    15.0    10.0     360.0
92       540   Badminton    15.0    19.0     114.0
550     3152       Rubgy    19.0     4.0     500.0
548     3148       Rubgy    15.0     8.0     498.0
357     2245    Football     3.0    16.0     361.0
47       280  Volleyball    12.0    16.0      54.0

In [ ]:
# Prédiction de 10 matchs pour l'utilisateur 610
already_paris, predictions = recommend_matchsSVD(preds_df, 610, matchs_df, paris, 10)
print(already_paris.head(10).to_string())
print(predictions.to_string())

L'utilisateur 610 a déjà parié sur 187 matchs.
     matchId       sport
90      8784    Football
184   161634   Badminton
3        412       Rubgy
172   118702      Tennis
96     30812       Rubgy
9       1128  Water Polo
89      8781   Badminton
88      7367    Handball
31      3246       Rubgy
167   104944       Rubgy
      matchId       sport  team_1  team_2  mMatchId
1033     5784  Water Polo    10.0    15.0     824.0
1256     7265       Rubgy    19.0    14.0     946.0
1513    33085        Judo    17.0    11.0    1075.0
184       910    Handball    10.0    19.0     156.0
676      3510  Volleyball    19.0     1.0     556.0
1011     5609        Boxe     5.0    19.0     807.0
1799    72489      Hockey     8.0    19.0    1258.0
5          31       Rubgy    16.0     9.0       5.0
1354     8529    Football    16.0    12.0     994.0
1372     8815        Judo    12.0    16.0    1003.0

In [ ]:
# Mise en forme du dataframe paris
paris.sort_values(by='userId', ascending=True, inplace=True)
paris = paris.reset_index(drop=True)

In [ ]:
# Prédiction sur 5 matchs pour tous les utilisateurs
preds = pd.DataFrame()
for user in paris['userId'].unique():
  all_already_paris, all_predictions = recommend_matchsSVD(preds_df, user, matchs_df, paris, 5)
  preds = preds.append(all_predictions, ignore_index=True)

user = []
for i in paris['userId'].unique():
  for j in range(5):
    user.append(i)

user_df = pd.DataFrame(data=user)
preds['userId'] = user_df

L'utilisateur 1 a déjà parié sur 20 matchs.
L'utilisateur 2 a déjà parié sur 5 matchs.
L'utilisateur 3 a déjà parié sur 8 matchs.
L'utilisateur 4 a déjà parié sur 40 matchs.
L'utilisateur 5 a déjà parié sur 9 matchs.
L'utilisateur 6 a déjà parié sur 70 matchs.
L'utilisateur 7 a déjà parié sur 17 matchs.
L'utilisateur 8 a déjà parié sur 6 matchs.
L'utilisateur 9 a déjà parié sur 9 matchs.
L'utilisateur 10 a déjà parié sur 28 matchs.
L'utilisateur 11 a déjà parié sur 15 matchs.
L'utilisateur 12 a déjà parié sur 5 matchs.
L'utilisateur 13 a déjà parié sur 7 matchs.
L'utilisateur 14 a déjà parié sur 13 matchs.
L'utilisateur 15 a déjà parié sur 14 matchs.
L'utilisateur 16 a déjà parié sur 15 matchs.
L'utilisateur 17 a déjà parié sur 17 matchs.
L'utilisateur 18 a déjà parié sur 59 matchs.
L'utilisateur 19 a déjà parié sur 100 matchs.
L'utilisateur 20 a déjà parié sur 18 matchs.
L'utilisateur 21 a déjà parié sur 28 matchs.
L'utilisateur 22 a déjà parié sur 30 matchs.
L'utilisateur 23 a déjà parié sur 24 matchs.
L'utilisateur 24 a déjà parié sur 9 matchs.
L'utilisateur 25 a déjà parié sur 2 matchs.
L'utilisateur 26 a déjà parié sur 4 matchs.
L'utilisateur 27 a déjà parié sur 9 matchs.
L'utilisateur 28 a déjà parié sur 123 matchs.
L'utilisateur 29 a déjà parié sur 10 matchs.
L'utilisateur 31 a déjà parié sur 7 matchs.
L'utilisateur 32 a déjà parié sur 23 matchs.
L'utilisateur 33 a déjà parié sur 49 matchs.
L'utilisateur 34 a déjà parié sur 6 matchs.
L'utilisateur 35 a déjà parié sur 4 matchs.
L'utilisateur 36 a déjà parié sur 10 matchs.
L'utilisateur 37 a déjà parié sur 3 matchs.
L'utilisateur 38 a déjà parié sur 14 matchs.
L'utilisateur 39 a déjà parié sur 10 matchs.
L'utilisateur 40 a déjà parié sur 17 matchs.
L'utilisateur 41 a déjà parié sur 47 matchs.
L'utilisateur 42 a déjà parié sur 81 matchs.
L'utilisateur 43 a déjà parié sur 15 matchs.
L'utilisateur 44 a déjà parié sur 6 matchs.
L'utilisateur 45 a déjà parié sur 44 matchs.
L'utilisateur 46 a déjà parié sur 5 matchs.
L'utilisateur 47 a déjà parié sur 49 matchs.
L'utilisateur 48 a déjà parié sur 3 matchs.
L'utilisateur 49 a déjà parié sur 3 matchs.
L'utilisateur 50 a déjà parié sur 40 matchs.
L'utilisateur 51 a déjà parié sur 56 matchs.
L'utilisateur 52 a déjà parié sur 18 matchs.
L'utilisateur 53 a déjà parié sur 6 matchs.
L'utilisateur 54 a déjà parié sur 2 matchs.
L'utilisateur 55 a déjà parié sur 5 matchs.
L'utilisateur 56 a déjà parié sur 5 matchs.
L'utilisateur 57 a déjà parié sur 51 matchs.
L'utilisateur 58 a déjà parié sur 21 matchs.
L'utilisateur 59 a déjà parié sur 18 matchs.
L'utilisateur 60 a déjà parié sur 5 matchs.
L'utilisateur 61 a déjà parié sur 5 matchs.
L'utilisateur 62 a déjà parié sur 39 matchs.
L'utilisateur 63 a déjà parié sur 23 matchs.
L'utilisateur 64 a déjà parié sur 82 matchs.
L'utilisateur 65 a déjà parié sur 5 matchs.
L'utilisateur 66 a déjà parié sur 66 matchs.
L'utilisateur 67 a déjà parié sur 2 matchs.
L'utilisateur 68 a déjà parié sur 208 matchs.
L'utilisateur 69 a déjà parié sur 6 matchs.
L'utilisateur 70 a déjà parié sur 22 matchs.
L'utilisateur 71 a déjà parié sur 3 matchs.
L'utilisateur 72 a déjà parié sur 6 matchs.
L'utilisateur 73 a déjà parié sur 31 matchs.
L'utilisateur 74 a déjà parié sur 69 matchs.
L'utilisateur 75 a déjà parié sur 3 matchs.
L'utilisateur 76 a déjà parié sur 11 matchs.
L'utilisateur 78 a déjà parié sur 2 matchs.
L'utilisateur 79 a déjà parié sur 9 matchs.
L'utilisateur 80 a déjà parié sur 20 matchs.
L'utilisateur 81 a déjà parié sur 1 matchs.
L'utilisateur 82 a déjà parié sur 22 matchs.
L'utilisateur 83 a déjà parié sur 18 matchs.
L'utilisateur 84 a déjà parié sur 86 matchs.
L'utilisateur 85 a déjà parié sur 15 matchs.
L'utilisateur 86 a déjà parié sur 4 matchs.
L'utilisateur 87 a déjà parié sur 1 matchs.
L'utilisateur 88 a déjà parié sur 9 matchs.
L'utilisateur 89 a déjà parié sur 36 matchs.
L'utilisateur 90 a déjà parié sur 17 matchs.
L'utilisateur 91 a déjà parié sur 84 matchs.
L'utilisateur 92 a déjà parié sur 4 matchs.
L'utilisateur 93 a déjà parié sur 5 matchs.
L'utilisateur 94 a déjà parié sur 4 matchs.
L'utilisateur 95 a déjà parié sur 24 matchs.
L'utilisateur 96 a déjà parié sur 10 matchs.
L'utilisateur 97 a déjà parié sur 3 matchs.
L'utilisateur 98 a déjà parié sur 14 matchs.
L'utilisateur 99 a déjà parié sur 7 matchs.
L'utilisateur 100 a déjà parié sur 30 matchs.
L'utilisateur 101 a déjà parié sur 19 matchs.
L'utilisateur 102 a déjà parié sur 8 matchs.
L'utilisateur 103 a déjà parié sur 56 matchs.
L'utilisateur 104 a déjà parié sur 29 matchs.
L'utilisateur 105 a déjà parié sur 126 matchs.
L'utilisateur 106 a déjà parié sur 1 matchs.
L'utilisateur 107 a déjà parié sur 3 matchs.
L'utilisateur 108 a déjà parié sur 16 matchs.
L'utilisateur 109 a déjà parié sur 27 matchs.
L'utilisateur 110 a déjà parié sur 14 matchs.
L'utilisateur 111 a déjà parié sur 62 matchs.
L'utilisateur 112 a déjà parié sur 4 matchs.
L'utilisateur 113 a déjà parié sur 33 matchs.
L'utilisateur 115 a déjà parié sur 5 matchs.
L'utilisateur 116 a déjà parié sur 13 matchs.
L'utilisateur 117 a déjà parié sur 34 matchs.
L'utilisateur 118 a déjà parié sur 3 matchs.
L'utilisateur 119 a déjà parié sur 32 matchs.
L'utilisateur 120 a déjà parié sur 2 matchs.
L'utilisateur 121 a déjà parié sur 13 matchs.
L'utilisateur 122 a déjà parié sur 32 matchs.
L'utilisateur 123 a déjà parié sur 7 matchs.
L'utilisateur 124 a déjà parié sur 7 matchs.
L'utilisateur 125 a déjà parié sur 50 matchs.
L'utilisateur 126 a déjà parié sur 4 matchs.
L'utilisateur 127 a déjà parié sur 5 matchs.
L'utilisateur 128 a déjà parié sur 2 matchs.
L'utilisateur 129 a déjà parié sur 7 matchs.
L'utilisateur 130 a déjà parié sur 2 matchs.
L'utilisateur 131 a déjà parié sur 9 matchs.
L'utilisateur 132 a déjà parié sur 54 matchs.
L'utilisateur 133 a déjà parié sur 9 matchs.
L'utilisateur 134 a déjà parié sur 4 matchs.
L'utilisateur 135 a déjà parié sur 36 matchs.
L'utilisateur 136 a déjà parié sur 18 matchs.
L'utilisateur 137 a déjà parié sur 31 matchs.
L'utilisateur 138 a déjà parié sur 3 matchs.
L'utilisateur 139 a déjà parié sur 16 matchs.
L'utilisateur 140 a déjà parié sur 151 matchs.
L'utilisateur 141 a déjà parié sur 14 matchs.
L'utilisateur 142 a déjà parié sur 11 matchs.
L'utilisateur 143 a déjà parié sur 5 matchs.
L'utilisateur 144 a déjà parié sur 17 matchs.
L'utilisateur 145 a déjà parié sur 1 matchs.
L'utilisateur 146 a déjà parié sur 2 matchs.
L'utilisateur 147 a déjà parié sur 2 matchs.
L'utilisateur 148 a déjà parié sur 1 matchs.
L'utilisateur 150 a déjà parié sur 6 matchs.
L'utilisateur 151 a déjà parié sur 5 matchs.
L'utilisateur 152 a déjà parié sur 14 matchs.
L'utilisateur 153 a déjà parié sur 38 matchs.
L'utilisateur 155 a déjà parié sur 4 matchs.
L'utilisateur 156 a déjà parié sur 82 matchs.
L'utilisateur 157 a déjà parié sur 4 matchs.
L'utilisateur 158 a déjà parié sur 4 matchs.
L'utilisateur 159 a déjà parié sur 26 matchs.
L'utilisateur 160 a déjà parié sur 64 matchs.
L'utilisateur 161 a déjà parié sur 5 matchs.
L'utilisateur 162 a déjà parié sur 11 matchs.
L'utilisateur 163 a déjà parié sur 3 matchs.
L'utilisateur 164 a déjà parié sur 3 matchs.
L'utilisateur 165 a déjà parié sur 11 matchs.
L'utilisateur 166 a déjà parié sur 30 matchs.
L'utilisateur 167 a déjà parié sur 15 matchs.
L'utilisateur 168 a déjà parié sur 19 matchs.
L'utilisateur 169 a déjà parié sur 41 matchs.
L'utilisateur 170 a déjà parié sur 6 matchs.
L'utilisateur 171 a déjà parié sur 10 matchs.
L'utilisateur 172 a déjà parié sur 8 matchs.
L'utilisateur 173 a déjà parié sur 1 matchs.
L'utilisateur 174 a déjà parié sur 13 matchs.
L'utilisateur 175 a déjà parié sur 8 matchs.
L'utilisateur 176 a déjà parié sur 3 matchs.
L'utilisateur 177 a déjà parié sur 139 matchs.
L'utilisateur 178 a déjà parié sur 14 matchs.
L'utilisateur 179 a déjà parié sur 10 matchs.
L'utilisateur 180 a déjà parié sur 4 matchs.
L'utilisateur 181 a déjà parié sur 23 matchs.
L'utilisateur 182 a déjà parié sur 212 matchs.
L'utilisateur 183 a déjà parié sur 9 matchs.
L'utilisateur 184 a déjà parié sur 23 matchs.
L'utilisateur 185 a déjà parié sur 5 matchs.
L'utilisateur 186 a déjà parié sur 17 matchs.
L'utilisateur 187 a déjà parié sur 39 matchs.
L'utilisateur 188 a déjà parié sur 10 matchs.
L'utilisateur 189 a déjà parié sur 2 matchs.
L'utilisateur 190 a déjà parié sur 11 matchs.
L'utilisateur 191 a déjà parié sur 24 matchs.
L'utilisateur 192 a déjà parié sur 2 matchs.
L'utilisateur 193 a déjà parié sur 6 matchs.
L'utilisateur 194 a déjà parié sur 1 matchs.
L'utilisateur 195 a déjà parié sur 44 matchs.
L'utilisateur 196 a déjà parié sur 5 matchs.
L'utilisateur 197 a déjà parié sur 3 matchs.
L'utilisateur 198 a déjà parié sur 39 matchs.
L'utilisateur 199 a déjà parié sur 76 matchs.
L'utilisateur 200 a déjà parié sur 46 matchs.
L'utilisateur 201 a déjà parié sur 11 matchs.
L'utilisateur 202 a déjà parié sur 79 matchs.
L'utilisateur 203 a déjà parié sur 4 matchs.
L'utilisateur 204 a déjà parié sur 13 matchs.
L'utilisateur 205 a déjà parié sur 3 matchs.
L'utilisateur 206 a déjà parié sur 4 matchs.
L'utilisateur 207 a déjà parié sur 3 matchs.
L'utilisateur 208 a déjà parié sur 5 matchs.
L'utilisateur 209 a déjà parié sur 1 matchs.
L'utilisateur 211 a déjà parié sur 9 matchs.
L'utilisateur 212 a déjà parié sur 38 matchs.
L'utilisateur 213 a déjà parié sur 15 matchs.
L'utilisateur 214 a déjà parié sur 2 matchs.
L'utilisateur 215 a déjà parié sur 24 matchs.
L'utilisateur 216 a déjà parié sur 21 matchs.
L'utilisateur 217 a déjà parié sur 56 matchs.
L'utilisateur 218 a déjà parié sur 2 matchs.
L'utilisateur 219 a déjà parié sur 59 matchs.
L'utilisateur 220 a déjà parié sur 16 matchs.
L'utilisateur 221 a déjà parié sur 72 matchs.
L'utilisateur 222 a déjà parié sur 48 matchs.
L'utilisateur 223 a déjà parié sur 7 matchs.
L'utilisateur 224 a déjà parié sur 6 matchs.
L'utilisateur 225 a déjà parié sur 10 matchs.
L'utilisateur 226 a déjà parié sur 68 matchs.
L'utilisateur 227 a déjà parié sur 20 matchs.
L'utilisateur 228 a déjà parié sur 2 matchs.
L'utilisateur 229 a déjà parié sur 11 matchs.
L'utilisateur 230 a déjà parié sur 12 matchs.
L'utilisateur 231 a déjà parié sur 2 matchs.
L'utilisateur 232 a déjà parié sur 137 matchs.
L'utilisateur 233 a déjà parié sur 21 matchs.
L'utilisateur 234 a déjà parié sur 8 matchs.
L'utilisateur 235 a déjà parié sur 12 matchs.
L'utilisateur 236 a déjà parié sur 7 matchs.
L'utilisateur 237 a déjà parié sur 7 matchs.
L'utilisateur 238 a déjà parié sur 12 matchs.
L'utilisateur 239 a déjà parié sur 39 matchs.
L'utilisateur 240 a déjà parié sur 14 matchs.
L'utilisateur 241 a déjà parié sur 18 matchs.
L'utilisateur 242 a déjà parié sur 5 matchs.
L'utilisateur 243 a déjà parié sur 5 matchs.
L'utilisateur 244 a déjà parié sur 20 matchs.
L'utilisateur 245 a déjà parié sur 11 matchs.
L'utilisateur 246 a déjà parié sur 22 matchs.
L'utilisateur 247 a déjà parié sur 13 matchs.
L'utilisateur 248 a déjà parié sur 1 matchs.
L'utilisateur 249 a déjà parié sur 135 matchs.
L'utilisateur 250 a déjà parié sur 5 matchs.
L'utilisateur 251 a déjà parié sur 5 matchs.
L'utilisateur 252 a déjà parié sur 4 matchs.
L'utilisateur 253 a déjà parié sur 13 matchs.
L'utilisateur 254 a déjà parié sur 23 matchs.
L'utilisateur 255 a déjà parié sur 3 matchs.
L'utilisateur 256 a déjà parié sur 20 matchs.
L'utilisateur 257 a déjà parié sur 1 matchs.
L'utilisateur 258 a déjà parié sur 4 matchs.
L'utilisateur 259 a déjà parié sur 3 matchs.
L'utilisateur 260 a déjà parié sur 42 matchs.
L'utilisateur 261 a déjà parié sur 8 matchs.
L'utilisateur 262 a déjà parié sur 16 matchs.
L'utilisateur 263 a déjà parié sur 39 matchs.
L'utilisateur 264 a déjà parié sur 4 matchs.
L'utilisateur 265 a déjà parié sur 32 matchs.
L'utilisateur 266 a déjà parié sur 24 matchs.
L'utilisateur 267 a déjà parié sur 5 matchs.
L'utilisateur 268 a déjà parié sur 25 matchs.
L'utilisateur 269 a déjà parié sur 2 matchs.
L'utilisateur 270 a déjà parié sur 8 matchs.
L'utilisateur 271 a déjà parié sur 7 matchs.
L'utilisateur 272 a déjà parié sur 1 matchs.
L'utilisateur 273 a déjà parié sur 5 matchs.
L'utilisateur 274 a déjà parié sur 181 matchs.
L'utilisateur 275 a déjà parié sur 99 matchs.
L'utilisateur 276 a déjà parié sur 1 matchs.
L'utilisateur 277 a déjà parié sur 1 matchs.
L'utilisateur 278 a déjà parié sur 6 matchs.
L'utilisateur 279 a déjà parié sur 20 matchs.
L'utilisateur 280 a déjà parié sur 34 matchs.
L'utilisateur 281 a déjà parié sur 2 matchs.
L'utilisateur 282 a déjà parié sur 42 matchs.
L'utilisateur 283 a déjà parié sur 1 matchs.
L'utilisateur 284 a déjà parié sur 7 matchs.
L'utilisateur 285 a déjà parié sur 12 matchs.
L'utilisateur 286 a déjà parié sur 20 matchs.
L'utilisateur 287 a déjà parié sur 27 matchs.
L'utilisateur 288 a déjà parié sur 159 matchs.
L'utilisateur 289 a déjà parié sur 4 matchs.
L'utilisateur 290 a déjà parié sur 83 matchs.
L'utilisateur 292 a déjà parié sur 55 matchs.
L'utilisateur 293 a déjà parié sur 1 matchs.
L'utilisateur 294 a déjà parié sur 42 matchs.
L'utilisateur 295 a déjà parié sur 4 matchs.
L'utilisateur 296 a déjà parié sur 2 matchs.
L'utilisateur 297 a déjà parié sur 16 matchs.
L'utilisateur 298 a déjà parié sur 124 matchs.
L'utilisateur 299 a déjà parié sur 4 matchs.
L'utilisateur 300 a déjà parié sur 9 matchs.
L'utilisateur 301 a déjà parié sur 22 matchs.
L'utilisateur 302 a déjà parié sur 5 matchs.
L'utilisateur 303 a déjà parié sur 4 matchs.
L'utilisateur 304 a déjà parié sur 31 matchs.
L'utilisateur 305 a déjà parié sur 107 matchs.
L'utilisateur 306 a déjà parié sur 19 matchs.
L'utilisateur 307 a déjà parié sur 168 matchs.
L'utilisateur 308 a déjà parié sur 11 matchs.
L'utilisateur 309 a déjà parié sur 28 matchs.
L'utilisateur 310 a déjà parié sur 6 matchs.
L'utilisateur 311 a déjà parié sur 4 matchs.
L'utilisateur 312 a déjà parié sur 33 matchs.
L'utilisateur 313 a déjà parié sur 27 matchs.
L'utilisateur 314 a déjà parié sur 22 matchs.
L'utilisateur 315 a déjà parié sur 8 matchs.
L'utilisateur 316 a déjà parié sur 7 matchs.
L'utilisateur 317 a déjà parié sur 43 matchs.
L'utilisateur 318 a déjà parié sur 136 matchs.
L'utilisateur 319 a déjà parié sur 6 matchs.
L'utilisateur 320 a déjà parié sur 2 matchs.
L'utilisateur 321 a déjà parié sur 4 matchs.
L'utilisateur 322 a déjà parié sur 25 matchs.
L'utilisateur 323 a déjà parié sur 16 matchs.
L'utilisateur 324 a déjà parié sur 3 matchs.
L'utilisateur 325 a déjà parié sur 47 matchs.
L'utilisateur 326 a déjà parié sur 51 matchs.
L'utilisateur 327 a déjà parié sur 4 matchs.
L'utilisateur 328 a déjà parié sur 22 matchs.
L'utilisateur 329 a déjà parié sur 5 matchs.
L'utilisateur 330 a déjà parié sur 33 matchs.
L'utilisateur 331 a déjà parié sur 18 matchs.
L'utilisateur 332 a déjà parié sur 37 matchs.
L'utilisateur 333 a déjà parié sur 8 matchs.
L'utilisateur 334 a déjà parié sur 19 matchs.
L'utilisateur 335 a déjà parié sur 3 matchs.
L'utilisateur 336 a déjà parié sur 8 matchs.
L'utilisateur 337 a déjà parié sur 17 matchs.
L'utilisateur 338 a déjà parié sur 4 matchs.
L'utilisateur 339 a déjà parié sur 76 matchs.
L'utilisateur 340 a déjà parié sur 3 matchs.
L'utilisateur 341 a déjà parié sur 6 matchs.
L'utilisateur 342 a déjà parié sur 13 matchs.
L'utilisateur 343 a déjà parié sur 5 matchs.
L'utilisateur 344 a déjà parié sur 5 matchs.
L'utilisateur 345 a déjà parié sur 17 matchs.
L'utilisateur 346 a déjà parié sur 47 matchs.
L'utilisateur 347 a déjà parié sur 4 matchs.
L'utilisateur 348 a déjà parié sur 8 matchs.
L'utilisateur 349 a déjà parié sur 6 matchs.
L'utilisateur 350 a déjà parié sur 3 matchs.
L'utilisateur 351 a déjà parié sur 32 matchs.
L'utilisateur 352 a déjà parié sur 40 matchs.
L'utilisateur 353 a déjà parié sur 11 matchs.
L'utilisateur 354 a déjà parié sur 27 matchs.
L'utilisateur 355 a déjà parié sur 2 matchs.
L'utilisateur 356 a déjà parié sur 40 matchs.
L'utilisateur 357 a déjà parié sur 72 matchs.
L'utilisateur 358 a déjà parié sur 6 matchs.
L'utilisateur 359 a déjà parié sur 12 matchs.
L'utilisateur 360 a déjà parié sur 4 matchs.
L'utilisateur 361 a déjà parié sur 13 matchs.
L'utilisateur 362 a déjà parié sur 16 matchs.
L'utilisateur 363 a déjà parié sur 5 matchs.
L'utilisateur 364 a déjà parié sur 3 matchs.
L'utilisateur 365 a déjà parié sur 34 matchs.
L'utilisateur 366 a déjà parié sur 3 matchs.
L'utilisateur 367 a déjà parié sur 26 matchs.
L'utilisateur 368 a déjà parié sur 85 matchs.
L'utilisateur 369 a déjà parié sur 16 matchs.
L'utilisateur 370 a déjà parié sur 8 matchs.
L'utilisateur 371 a déjà parié sur 2 matchs.
L'utilisateur 372 a déjà parié sur 49 matchs.
L'utilisateur 373 a déjà parié sur 13 matchs.
L'utilisateur 374 a déjà parié sur 4 matchs.
L'utilisateur 375 a déjà parié sur 1 matchs.
L'utilisateur 376 a déjà parié sur 13 matchs.
L'utilisateur 377 a déjà parié sur 10 matchs.
L'utilisateur 378 a déjà parié sur 7 matchs.
L'utilisateur 379 a déjà parié sur 5 matchs.
L'utilisateur 380 a déjà parié sur 137 matchs.
L'utilisateur 381 a déjà parié sur 53 matchs.
L'utilisateur 382 a déjà parié sur 21 matchs.
L'utilisateur 383 a déjà parié sur 16 matchs.
L'utilisateur 384 a déjà parié sur 17 matchs.
L'utilisateur 385 a déjà parié sur 34 matchs.
L'utilisateur 386 a déjà parié sur 6 matchs.
L'utilisateur 387 a déjà parié sur 182 matchs.
L'utilisateur 388 a déjà parié sur 1 matchs.
L'utilisateur 389 a déjà parié sur 5 matchs.
L'utilisateur 390 a déjà parié sur 20 matchs.
L'utilisateur 391 a déjà parié sur 78 matchs.
L'utilisateur 392 a déjà parié sur 4 matchs.
L'utilisateur 393 a déjà parié sur 14 matchs.
L'utilisateur 394 a déjà parié sur 2 matchs.
L'utilisateur 395 a déjà parié sur 1 matchs.
L'utilisateur 396 a déjà parié sur 4 matchs.
L'utilisateur 397 a déjà parié sur 4 matchs.
L'utilisateur 398 a déjà parié sur 7 matchs.
L'utilisateur 399 a déjà parié sur 3 matchs.
L'utilisateur 400 a déjà parié sur 6 matchs.
L'utilisateur 401 a déjà parié sur 2 matchs.
L'utilisateur 402 a déjà parié sur 14 matchs.
L'utilisateur 403 a déjà parié sur 5 matchs.
L'utilisateur 404 a déjà parié sur 14 matchs.
L'utilisateur 405 a déjà parié sur 17 matchs.
L'utilisateur 406 a déjà parié sur 3 matchs.
L'utilisateur 407 a déjà parié sur 3 matchs.
L'utilisateur 408 a déjà parié sur 7 matchs.
L'utilisateur 409 a déjà parié sur 25 matchs.
L'utilisateur 410 a déjà parié sur 46 matchs.
L'utilisateur 411 a déjà parié sur 30 matchs.
L'utilisateur 412 a déjà parié sur 22 matchs.
L'utilisateur 413 a déjà parié sur 13 matchs.
L'utilisateur 414 a déjà parié sur 560 matchs.
L'utilisateur 415 a déjà parié sur 15 matchs.
L'utilisateur 416 a déjà parié sur 7 matchs.
L'utilisateur 417 a déjà parié sur 10 matchs.
L'utilisateur 418 a déjà parié sur 20 matchs.
L'utilisateur 419 a déjà parié sur 30 matchs.
L'utilisateur 420 a déjà parié sur 24 matchs.
L'utilisateur 421 a déjà parié sur 13 matchs.
L'utilisateur 422 a déjà parié sur 25 matchs.
L'utilisateur 423 a déjà parié sur 2 matchs.
L'utilisateur 424 a déjà parié sur 20 matchs.
L'utilisateur 425 a déjà parié sur 37 matchs.
L'utilisateur 426 a déjà parié sur 17 matchs.
L'utilisateur 427 a déjà parié sur 18 matchs.
L'utilisateur 428 a déjà parié sur 30 matchs.
L'utilisateur 429 a déjà parié sur 10 matchs.
L'utilisateur 430 a déjà parié sur 7 matchs.
L'utilisateur 431 a déjà parié sur 2 matchs.
L'utilisateur 432 a déjà parié sur 46 matchs.
L'utilisateur 433 a déjà parié sur 3 matchs.
L'utilisateur 434 a déjà parié sur 28 matchs.
L'utilisateur 435 a déjà parié sur 6 matchs.
L'utilisateur 436 a déjà parié sur 16 matchs.
L'utilisateur 437 a déjà parié sur 30 matchs.
L'utilisateur 438 a déjà parié sur 100 matchs.
L'utilisateur 439 a déjà parié sur 3 matchs.
L'utilisateur 440 a déjà parié sur 6 matchs.
L'utilisateur 441 a déjà parié sur 2 matchs.
L'utilisateur 442 a déjà parié sur 8 matchs.
L'utilisateur 443 a déjà parié sur 3 matchs.
L'utilisateur 444 a déjà parié sur 5 matchs.
L'utilisateur 445 a déjà parié sur 14 matchs.
L'utilisateur 446 a déjà parié sur 11 matchs.
L'utilisateur 447 a déjà parié sur 11 matchs.

In [ ]:
# Nettoyage de notre dataframe de toutes les prédictions
preds.drop(['team_1','team_2','mMatchId'], axis=1, inplace=True)
first_column = preds.pop('userId') 
preds.insert(0, 'userId', first_column)

In [ ]:
preds

      userId  matchId       sport
0          1     1608        Boxe
1          1     3301    Handball
2          1     2194   Ping-Pong
3          1     4022       Rubgy
4          1     4262   Ping-Pong
...      ...      ...         ...
2990     610     5784  Water Polo
2991     610     7265       Rubgy
2992     610    33085        Judo
2993     610      910    Handball
2994     610     3510  Volleyball

[2995 rows x 3 columns]